*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(167, 182, 177);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset{
    background-image: url(./imagenes/d178528546bb89187a0dbf92dd2318e0.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no repeat;
    border: 2.5px solid rgb(72, 112, 99);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-color: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 450px;
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

fieldset p{
    font-size: 1.2rem;
    font-weight: 550;
    margin: 0 0.6rem;
    color: #ffffff;
    text-shadow: 2px 3px 7px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

legend{
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.8);
}

.nombre-input, input[type="tel"], textarea{
    border: none;
    opacity: 0.80;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px black;
    padding: 0.5rem;
    margin: 1.5rem;
}

.nombre-input, input[type="tel"]{
    height: 2rem;
    width: 60%;
}

textarea{
    height: 5rem;
    width: 60%;
    vertical-align: middle;
    resize: none;
}

.nombre-input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

input[type="tel"]:focus{
    outline: none;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    color: #2c3e50;
    font-size: 1rem;
    font-weight: 600;
    background-image: 
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23487063' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'%3E%3C/path%3E%3C/svg%3E"),
        linear-gradient(180deg, #3e664d 0%, #81cfa8 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: right 15px center, center;
    background-size: 12px, cover;
    transition: all 0.3s ease;
}

select:hover {
    background: #e8efec;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,0.05);
}

select option{
    background-color: rgb(94, 145, 128);
    color: #333;
    padding: 10px;
    font-size: 1rem;
}

select:focus{
    outline: none;
}

select:invalid, .spec-style{
    font-size: 1rem;
    font-style: italic;
}

.spec-style{
    background-color: #333;
    color: #fff;
}

.div-botones{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1.5rem 0;
    padding: 0;
}

button{
    margin: 0 1.5rem;
}

.enviar{
  font-family: sans-serif;
  font-size: 1rem;
  background: rgb(109, 184, 146);
  color: white;
  padding: 0.3em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.enviar span{
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.enviar svg{
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.enviar:hover .svg-wrapper{
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.enviar:hover svg{
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.enviar:hover span{
  transform: translateX(5em);
}

.enviar:active{
  transform: scale(0.95);
}

@keyframes fly-1{
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.limpiar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 1em;
  gap: 8px;
  font-family: sans-serif;
  height: 34px;
  width: 112px;
  border: none;
  background: #ff140734;
  border-radius: 20px;
  cursor: pointer;
}

.lable .limpiar{
  line-height: 20px;
  font-size: 17px;
  color: #472b29;
  letter-spacing: 1px;
}

.limpiar:hover {
  background: #ff362b52;
}

.limpiar:hover .svg-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.limpiar:active{
  transform: scale(0.95);
}


